.slide1{  background-image: url('assets/simpsons-homer.jpg');}
.slide2{  background-image: url('assets/simpsons-marge.jpg');}
.slide3{  background-image: url('assets/simpsons-bart.jpg');}
.slide4{  background-image: url('assets/simpsons-liza.jpg');}
.slide5{  background-image: url('assets/simpson-maggi.jpg');}

.input-radio{
    display: none;
}
    
body{
    margin: 0;
    background-color: rgb(20, 19, 19);
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    align-content: center;
    height: 100vh;
    overflow: hidden;
}

.slider{
    position: relative;
    width: inherit;
    height: 45vw;
    border-radius: 40px;
    margin-bottom: 4vh;
    background-clip: content-box;
    background-origin: border-box;
    background-size: contain;
}

.slide{
    height: inherit;
    width: inherit;
    margin: auto;
    position: absolute;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
    opacity: 1;
}

.subcontent{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.subcontent-description{
    position: relative;
    width: 50%;
}

.description{
    color: rgba(230, 224, 224, 0);
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: absolute;
    z-index: 0;
    background-color: rgb(20, 19, 19);
    transition: color ease-in-out 0.8s;
    margin: 5px 0 0 0;
}

#slide1:checked ~ .subcontent .d-slide1,
#slide2:checked ~ .subcontent .d-slide2,
#slide3:checked ~ .subcontent .d-slide3,
#slide4:checked ~ .subcontent .d-slide4,
#slide5:checked ~ .subcontent .d-slide5 {
    z-index: 1;
    color: rgba(230, 224, 224, 1);
}

.subcontent-selector{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    max-width: 150px;
}

.label-wrapper{
    cursor: pointer;
    display: block;
    flex-grow: 1;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.label-wrapper:hover .label{
    background-color: white;
    border-color: white;
}

.subcontent-selector .label{
    margin: auto;
    border: rgb(68, 117, 190) solid 2px;
    border-radius: 15px;
    background-color: rgb(68, 117, 190);
    width: 10px;
    height: 10px;
}

.subcontent-selector .label:hover{
    background-color: white;
}

#slide1:checked ~ .subcontent .label-wrapper:nth-of-type(1) .label,
#slide2:checked ~ .subcontent .label-wrapper:nth-of-type(2) .label,
#slide3:checked ~ .subcontent .label-wrapper:nth-of-type(3) .label,
#slide4:checked ~ .subcontent .label-wrapper:nth-of-type(4) .label,
#slide5:checked ~ .subcontent .label-wrapper:nth-of-type(5) .label{
    background-color: transparent;
}

@media screen and (max-width: 768px){
    .wrapper{
        width: 90vw;
    }

    .slider{
        margin-bottom: 5vh;
    }

    .subcontent{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .subcontent-description{
        text-align: center;
    }
}